# 타이타닉

In [118]:
import numpy as np
import pandas as pd
from keras.utils import np_utils
from sklearn.linear_model import LinearRegression

Using TensorFlow backend.

### Data Info.

|변  수:|PassengerId| Survived|    Pclass|  Name|   Sex|    Age|      SibSp|    Parch| Ticket|     Fare|Cabin| Embarked|
|-------|-----------|---------|----------|------|------|-------|-----------|---------|-------|---------|-----|---------|
|내  용:|  승객 번호|생존 여부| 좌석 등급|  이름|  성별|   나이|형제&자매<br>배우자|부모&자식|티켓 번호|운임|객실 번호|출항지|
|형  태:|      int64|    int64|     int64|object|object|float64|      int64|    int64| object|  float64|object|  object|
|구  성:|    1 ~ 891|     0, 1|   1, 2, 3|      |male, female| |           |         |       |         |     |  C, Q, S|
|결측치:|          0|        0|         0|     0|     0|**177**|          0|        0|      0|       0|     0|    **2**|

(891 x 12)

### Train Set 수치화

In [ ]:
train = pd.read_csv("train.csv")   ### 불러오기

In [ ]:
train.head()

In [ ]:
print(train.dtypes)
print(np.shape(train))

In [ ]:
Pclass_cat = np_utils.to_categorical(train['Pclass'])
train['Pclass_1'] = Pclass_cat[:, 1].astype(int)
train['Pclass_2'] = Pclass_cat[:, 2].astype(int)
train['Pclass_3'] = Pclass_cat[:, 3].astype(int)

In [ ]:
### Sex 변환, male / female 

for i in range(np.shape(train)[0]):
    if(train.loc[i, 'Sex'] == 'male'):
        train.loc[i, 'Sex'] = 0
    elif(train.loc[i, 'Sex'] == 'female'):
        train.loc[i, 'Sex'] = 1

In [ ]:
### SibSp 변환 0 / 1~3 / 4~ 

for i in range(np.shape(train)[0]):
    if(train.loc[i, 'SibSp'] == 0):
        train.loc[i, 'SibSp'] = 0
    elif(train.loc[i, 'SibSp'] < 3):
        train.loc[i, 'SibSp'] = 1
    else:
        train.loc[i, 'SibSp'] = 2

SibSp_cat = np_utils.to_categorical(train['SibSp'])
train['SibSp_0'] = SibSp_cat[:, 0].astype(int)
train['SibSp_1'] = SibSp_cat[:, 1].astype(int)
train['SibSp_2'] = SibSp_cat[:, 2].astype(int)

In [ ]:
### Parch 변환 0 / 1~3 / 4~ 

for i in range(np.shape(train)[0]):
    if(train.loc[i, 'Parch'] == 0):
        train.loc[i, 'Parch'] = 0
    elif(train.loc[i, 'Parch'] < 4):
        train.loc[i, 'Parch'] = 1
    else:
        train.loc[i, 'Parch'] = 2

Parch_cat = np_utils.to_categorical(train['Parch'])
train['Parch_0'] = Parch_cat[:, 0].astype(int)
train['Parch_1'] = Parch_cat[:, 1].astype(int)
train['Parch_2'] = Parch_cat[:, 2].astype(int)

In [ ]:
### Fare 변환

train['Fare'] = np.sqrt(train['Fare'])
train.loc[train['Fare']>9, 'Fare'] = 9
train['Fare'] = (train['Fare']-np.mean(train['Fare']))/np.std(train['Fare'])

In [ ]:
### Embarked 변환, C / Q / S

for i in range(np.shape(train)[0]):
    if(train.loc[i, 'Embarked'] == 'C'):
        train.loc[i, 'Embarked'] = 0
    elif(train.loc[i, 'Embarked'] == 'Q'):
        train.loc[i, 'Embarked'] = 1
    elif(train.loc[i, 'Embarked'] == 'S'):
        train.loc[i, 'Embarked'] = 2
    else:
        train.loc[i, 'Embarked'] = 3
        
Embarked_cat = np_utils.to_categorical(train['Embarked'])
train['Embarked_C'] = Embarked_cat[:, 0].astype(int)
train['Embarked_Q'] = Embarked_cat[:, 1].astype(int)
train['Embarked_S'] = Embarked_cat[:, 2].astype(int)

In [ ]:
### emabark 결측치는 둘다 S로 분류 

train.loc[train.loc[:,'Embarked_C']+train.loc[:,'Embarked_Q']+train.loc[:,'Embarked_S']==0, 'Embarked_S'] = 1

In [ ]:
### Survived, Pclass, Sex, SibSp, Embarked 만 남기고 모두 삭제

train = train.drop('PassengerId', axis=1)
train = train.drop('Pclass', axis=1)
train = train.drop('Name', axis=1)
train = train.drop('SibSp', axis=1)
train = train.drop('Parch', axis=1)
train = train.drop('Ticket', axis=1)
train = train.drop('Cabin', axis=1)
train = train.drop('Embarked', axis=1)

In [ ]:
train.head(10)

In [ ]:
train.to_csv('train_fix.csv', index = False)

### Test set 수치화

In [119]:
test = pd.read_csv("test.csv")

In [120]:
Pclass_cat = np_utils.to_categorical(test['Pclass'])
test['Pclass_1'] = Pclass_cat[:, 1].astype(int)
test['Pclass_2'] = Pclass_cat[:, 2].astype(int)
test['Pclass_3'] = Pclass_cat[:, 3].astype(int)

In [121]:
### 똑같이 정리해줌

for i in range(np.shape(test)[0]):
    if(test.loc[i, 'Sex'] == 'male'):
        test.loc[i, 'Sex'] = 0
    elif(test.loc[i, 'Sex'] == 'female'):
        test.loc[i, 'Sex'] = 1

In [122]:
for i in range(np.shape(test)[0]):
    if(test.loc[i, 'SibSp'] == 0):
        test.loc[i, 'SibSp'] = 0
    elif(test.loc[i, 'SibSp'] < 3):
        test.loc[i, 'SibSp'] = 1
    else:
        test.loc[i, 'SibSp'] = 2

SibSp_cat = np_utils.to_categorical(test['SibSp'])
test['SibSp_0'] = SibSp_cat[:, 0].astype(int)
test['SibSp_1'] = SibSp_cat[:, 1].astype(int)
test['SibSp_2'] = SibSp_cat[:, 2].astype(int)

In [123]:
for i in range(np.shape(test)[0]):
    if(test.loc[i, 'Parch'] == 0):
        test.loc[i, 'Parch'] = 0
    elif(test.loc[i, 'Parch'] < 4):
        test.loc[i, 'Parch'] = 1
    else:
        test.loc[i, 'Parch'] = 2

Parch_cat = np_utils.to_categorical(test['Parch'])
test['Parch_0'] = Parch_cat[:, 0].astype(int)
test['Parch_1'] = Parch_cat[:, 1].astype(int)
test['Parch_2'] = Parch_cat[:, 2].astype(int)

In [124]:
test['Fare'] = np.sqrt(test['Fare'])
test.loc[test['Fare']>9, 'Fare'] = 9
test['Fare'] = (test['Fare']-np.mean(test['Fare']))/np.std(test['Fare'])

In [125]:
for i in range(np.shape(test)[0]):
    if(test.loc[i, 'Embarked'] == 'C'):
        test.loc[i, 'Embarked'] = 0
    elif(test.loc[i, 'Embarked'] == 'Q'):
        test.loc[i, 'Embarked'] = 1
    elif(test.loc[i, 'Embarked'] == 'S'):
        test.loc[i, 'Embarked'] = 2
    else:
        test.loc[i, 'Embarked'] = 3
        
Embarked_cat = np_utils.to_categorical(test['Embarked'])
test['Embarked_C'] = Embarked_cat[:, 0].astype(int)
test['Embarked_Q'] = Embarked_cat[:, 1].astype(int)
test['Embarked_S'] = Embarked_cat[:, 2].astype(int)

In [126]:
test=test.drop('Pclass', axis=1)
test=test.drop('Name', axis=1)
test=test.drop('SibSp', axis=1)
test=test.drop('Parch', axis=1)
test=test.drop('Ticket', axis=1)
test=test.drop('Cabin', axis=1)
test=test.drop('Embarked', axis=1)

In [127]:
test.head(10)

,PassengerId,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,SibSp_0,SibSp_1,SibSp_2,Parch_0,Parch_1,Parch_2,Embarked_C,Embarked_Q,Embarked_S
0,892,0,34.5,-0.855217,0,0,1,1,0,0,1,0,0,0,1,0
1,893,1,47.0,-0.925586,0,0,1,0,1,0,1,0,0,0,0,1
2,894,0,62.0,-0.709968,0,1,0,1,0,0,1,0,0,0,1,0
3,895,0,27.0,-0.788164,0,0,1,1,0,0,1,0,0,0,0,1
4,896,1,22.0,-0.528465,0,0,1,0,1,0,0,1,0,0,0,1
5,897,0,14.0,-0.744712,0,0,1,1,0,0,1,0,0,0,0,1
6,898,1,30.0,-0.871835,0,0,1,1,0,0,1,0,0,0,1,0
7,899,0,26.0,0.339977,0,1,0,0,1,0,0,1,0,0,0,1
8,900,1,18.0,-0.905737,0,0,1,1,0,0,1,0,0,1,0,0
9,901,0,21.0,0.122429,0,0,1,0,1,0,1,0,0,0,0,1

In [128]:
test.to_csv('test_fix.csv', index = False)

### Model 설계

In [1]:
import numpy as np
import pandas as pd

In [99]:
dat = pd.read_csv("train_fix.csv")   ### 데이터 불러오기

In [100]:
dat = dat.drop('Embarked_C', axis=1)
dat = dat.drop('Embarked_Q', axis=1)
dat = dat.drop('Embarked_S', axis=1)
dat = dat.drop('Age', axis=1)
dat.head(10)

,Survived,Sex,Fare,Pclass_1,Pclass_2,Pclass_3,SibSp_0,SibSp_1,SibSp_2,Parch_0,Parch_1,Parch_2
0,0,0,-0.870524,0,0,1,0,1,0,1,0,0
1,1,1,1.774208,1,0,0,0,1,0,1,0,0
2,1,1,-0.814158,0,0,1,1,0,0,1,0,0
3,1,1,1.242549,1,0,0,0,1,0,1,0,0
4,0,0,-0.803987,0,0,1,1,0,0,1,0,0
5,0,0,-0.771303,0,0,1,1,0,0,1,0,0
6,0,0,1.203266,1,0,0,1,0,0,1,0,0
7,0,0,0.002490,0,0,1,0,0,1,0,1,0
8,1,1,-0.574297,0,0,1,1,0,0,0,1,0
9,1,1,0.413172,0,1,0,0,1,0,1,0,0

In [101]:
Y_train = dat['Survived']
X_train = dat.drop('Survived', axis=1)

In [102]:
X_train = np.array(X_train)
Y_train = np.array(Y_train).reshape(-1, 1)

print(X_train[:5])
print(Y_train[:5])
print(np.shape(X_train))
print(np.shape(Y_train))

[[ 0.         -0.87052448  0.          0.          1.          0.          1.
   0.          1.          0.          0.        ]
 [ 1.          1.77420786  1.          0.          0.          0.          1.
   0.          1.          0.          0.        ]
 [ 1.         -0.81415832  0.          0.          1.          1.          0.
   0.          1.          0.          0.        ]
 [ 1.          1.24254929  1.          0.          0.          0.          1.
   0.          1.          0.          0.        ]
 [ 0.         -0.8039873   0.          0.          1.          1.          0.
   0.          1.          0.          0.        ]]
[[0]
 [1]
 [1]
 [1]
 [0]]
(891, 11)
(891, 1)

In [103]:
import tensorflow as tf
sess = tf.Session()
from sklearn.utils import shuffle

In [104]:
n_lay1 = 20   ### hidden layer 1
n_lay2 = 5   ### hidden layer 2
n_lay3 = 2   ### hidden layer 2


tf.set_random_seed(1234)

x = tf.placeholder(tf.float32, shape=[None, np.shape(X_train)[1]])
t = tf.placeholder(tf.float32, shape=[None, 1])
keep_prob = tf.placeholder(tf.float32)

w1 = tf.Variable(tf.truncated_normal([np.shape(X_train)[1], n_lay1], seed = 0))
b1 = tf.Variable(tf.zeros([n_lay1]))
z1 = tf.nn.dropout(tf.nn.relu(tf.matmul(x, w1)+b1), keep_prob)

w2 = tf.Variable(tf.truncated_normal([n_lay1, n_lay2], seed = 10))
b2 = tf.Variable(tf.zeros([n_lay2]))
z2 = tf.nn.dropout(tf.nn.relu(tf.matmul(z1, w2)+b2), keep_prob)

w3 = tf.Variable(tf.truncated_normal([n_lay2, 1], seed = 20))
b3 = tf.Variable(tf.zeros([1]))
y = tf.nn.sigmoid(tf.matmul(z2, w3)+b3)   ### Output

cross_ent = -tf.reduce_mean(t*tf.log(y)+(1-t)*tf.log(1-y))   ### Error function 계산

lr = 0.1   ### learning rate = 0.03
train_step = tf.train.GradientDescentOptimizer(lr).minimize(cross_ent)

correct_prediction = tf.equal(tf.to_float(tf.greater(y, 0.5)), t)   ### y와 0.5의 값 비교 ( T, F 반환 )
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))   ### 정확도 측정

init = tf.global_variables_initializer()   ### initialize 필요
sess.run(init)

### Train

In [105]:
n_samples = X_train.shape[0]
bat_size = 16   ### 보통 2^n 꼴로 정한다.
n_batch = n_samples // bat_size

print(n_samples)   ### 
print(n_batch)   ###

891
55

In [107]:
for epoch in range(100):   ### 100번 계산한다.
    X_, Y_ = shuffle(X_train, Y_train)   ### 순서를 섞어준다
    
    for i in range(n_batch):
        sess.run(train_step, feed_dict={x:X_[i*bat_size:i*bat_size+bat_size], t:Y_[i*bat_size:i*bat_size+bat_size], keep_prob:0.7})
    
    if epoch % 10 == 0:   ### 이건 그냥 잘 돌아가는지 판단하려고...
        loss_train = cross_ent.eval(session=sess, feed_dict={x:X_train, t:Y_train, keep_prob:1.0})
        accuracy_train = accuracy.eval(session=sess, feed_dict={x:X_train, t:Y_train, keep_prob:1.0})
        print("epoch =", epoch, ", Loss =", loss_train, ", Accuracy =", accuracy_train)
    if pd.isnull(loss_train):
        break

epoch = 0 , Loss = 0.448775 , Accuracy = 0.787879
epoch = 10 , Loss = 0.433402 , Accuracy = 0.787879
epoch = 20 , Loss = 0.429133 , Accuracy = 0.790123
epoch = 30 , Loss = 0.420639 , Accuracy = 0.809203
epoch = 40 , Loss = 0.427747 , Accuracy = 0.785634
epoch = 50 , Loss = 0.421945 , Accuracy = 0.806958
epoch = 60 , Loss = 0.421209 , Accuracy = 0.808081
epoch = 70 , Loss = 0.420931 , Accuracy = 0.809203
epoch = 80 , Loss = 0.421907 , Accuracy = 0.794613
epoch = 90 , Loss = 0.42103 , Accuracy = 0.809203

In [108]:
loss_train = cross_ent.eval(session=sess, feed_dict={x:X_train, t:Y_train, keep_prob:1})
accuracy_train = accuracy.eval(session=sess, feed_dict={x:X_train, t:Y_train, keep_prob:1})
print(loss_train, accuracy_train)   ### loss < 0.346 까지...

0.41601 0.811448

### Test에 적용

In [129]:
test = pd.read_csv("test_fix.csv")   ### 데이터 불러오기

In [130]:
test = test.drop('Embarked_C', axis=1)
test = test.drop('Embarked_Q', axis=1)
test = test.drop('Embarked_S', axis=1)
test = test.drop('Age', axis=1)

num = test['PassengerId']

test = test.drop('PassengerId', axis=1)
test.head(10)

,Sex,Fare,Pclass_1,Pclass_2,Pclass_3,SibSp_0,SibSp_1,SibSp_2,Parch_0,Parch_1,Parch_2
0,0,-0.855217,0,0,1,1,0,0,1,0,0
1,1,-0.925586,0,0,1,0,1,0,1,0,0
2,0,-0.709968,0,1,0,1,0,0,1,0,0
3,0,-0.788164,0,0,1,1,0,0,1,0,0
4,1,-0.528465,0,0,1,0,1,0,0,1,0
5,0,-0.744712,0,0,1,1,0,0,1,0,0
6,1,-0.871835,0,0,1,1,0,0,1,0,0
7,0,0.339977,0,1,0,0,1,0,0,1,0
8,1,-0.905737,0,0,1,1,0,0,1,0,0
9,0,0.122429,0,0,1,0,1,0,1,0,0

In [131]:
X_test = np.array(test)
X_test[:5]

array([[ 0.        , -0.85521734,  0.        ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 1.        , -0.92558639,  0.        ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.        , -0.70996786,  0.        ,  1.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 0.        , -0.78816426,  0.        ,  0.        ,  1.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ],
       [ 1.        , -0.52846468,  0.        ,  0.        ,  1.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ]])

In [132]:
result = y.eval(session=sess, feed_dict={x:X_test, t:Y_train, keep_prob:1.0})
print(result[:10])

[[ 0.12995705]
 [ 0.38136956]
 [ 0.13075027]
 [ 0.13472424]
 [ 0.53324324]
 [ 0.13789177]
 [ 0.50903022]
 [ 0.44165465]
 [ 0.50157547]
 [ 0.19948965]]

In [133]:
output = pd.DataFrame({'PassengerId':num, 'Survived' : 0})

In [155]:
for i in range(np.shape(result)[0]):
    if result[i, 0] < 0.5:
        output.loc[i, 'Survived'] = 0
    else:
        output.loc[i, 'Survived'] = 1

In [156]:
### Train의 생존자 비율과 Test의 생존자 비율이 비슷해지도록 확률값 설정

print('Train 생존률 :', np.sum(Y_train)/891)
print('Test 생존률 :', np.sum(output['Survived'])/418)

Train 생존률 : 0.383838383838
Test 생존률 : 0.332535885167

In [157]:
output[:10]

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [158]:
output.to_csv("Titanic_Pred_3.csv", index = False)